<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /> <!-- enable the pre 4.5 validation mode -->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    
    <!-- Athentication mode (It blocks anounimouse users to access) -->
    
    <authentication mode="Forms" />
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <!-- End Athentication mode -->
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <!-- Refer to http://www.splinter.com.au/aspnet-forms-authentication-to-your-own-datab/ -->
  <!-- location path (It allows to all users to access your CSS, images, login.aspx) -->
  
  <location path="Assets">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Refer to http://www.aspdotnet-suresh.com/2014/03/how-to-restrict-access-to-particular.html -->
  <location path="addSchedule.aspx">
    <system.web>
      <authorization>
        <!--<allow roles="Admin"/>-->
        <allow users ="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- End location path-->
  
  <connectionStrings>
    <clear/>

    <!-- CONNECTION FOR DATABASE (yoyo)-->
    <add name="YoYoConn" connectionString="Data Source=.\SQLExpress;Initial Catalog=yoyo;user ID=sa;password=Conestoga1;Integrated Security=True"/>  
  </connectionStrings>
  
</configuration>